<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="flex flex-col items-center justify-center">
  <h1 class="text-4xl md:text-6xl text-white font-bold mt-[32px] p-4">Sign Up</h1>
</div>

<% if @user.errors.any? %>
  <div class="flex flex-col items-center justify-center rounded-lg p-10 m-10 w-80/100 mx-auto bg-[var(--accent-color)]">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="relative flex items-center justify-center h-full flex-col bg-[var(--surface-color)] rounded-md w-60/100 m-auto p-8">
  <%= form_with model: @user, url: signup_path, method: :post do |f| %>
    <div class="text-white">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "border p-2 w-full my-2" %>
    </div>
  
    <div class="text-white">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "border p-2 w-full my-2" %>
    </div>
  
    <div class="text-white">
      <%= f.label :email %>
      <%= f.text_field :email, class: "border p-2 w-full my-2" %>
    </div>
  
    <div class="text-white">
      <%= f.label :password %>
      <%= f.password_field :password, class: "border p-2 w-full my-2" %>
    </div>
  
    <div class="text-white">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "border p-2 w-full my-2" %>
    </div>

    <%= f.hidden_field :is_professional, value: false %>
    
  
    <div class="flex justify-center">
      <%= f.submit "Sign Up", class: "accent-button p-4 rounded-md bg-[var(--ok-highlight-faded-color)]" %>
    </div>
  <% end %>

  <div class="flex justify-center text-white mt-4 p-4">
    <p>Already have an account?</p>
    <%= link_to "Login", login_path, class: "text-blue-400 underline ml-2" %>
  </div>

</div>