<div id="<%= dom_id professional %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= professional.last_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= professional.first_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= professional.email %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Password:</strong>
    <%= professional.password %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Dob:</strong>
    <%= professional.DOB %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= professional.phone_number %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Profile image url:</strong>
    <%= professional.profile_image_url %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Isprofessional:</strong>
    <%= professional.isProfessional %>
  </p>
</div>
