<% if session[:user_id] %>
  <header class="bg-black text-white p-4 flex justify-between items-center fixed top-0 left-0 w-full z-10">
    <div class="text-xl font-bold flex items-center">
      <img src="/images/logo-1.png" alt="Physicians and Mentors Logo" class="w-16 h-16 mr-4" />
      <h1 class="text-3xl">Physicians and Mentors (Test Build)</h1>
    </div>

    <div class="flex justify-center text-white">
      <%= button_to "Log Out", logout_path, method: :delete, class: "btn hover:text-gray-300 text-lg bg-transparent text-white-900 font-semibold hover:text-white mt-8 p-4 text-3xl border border-white rounded" %>
    </div>
  </header>
<% else %>
  <header class="bg-black text-white p-4 flex justify-between items-center fixed top-0 left-0 w-full z-10">
    <div class="text-xl font-bold flex items-center">
      <img src="/images/logo-1.png" alt="Physicians and Mentors Logo" class="w-16 h-16 mr-4" />
      <h1 class="text-3xl">Physicians and Mentors (Test Build)</h1>
    </div>

    <nav>
      <%= link_to "Home", home_path, class: "hover:text-gray-300 text-lg bg-transparent text-white-900 font-semibold hover:text-white mt-8 p-4 text-3xl border border-white-900 rounded" %>
      <%= link_to "Login", login_path, class: "hover:text-gray-300 text-lg bg-transparent text-white-900 font-semibold hover:text-white mt-8 p-4 text-3xl border border-gray-500 rounded" %>
    </nav>
  </header>
<% end %>

<div class="container mt-32">
  <h1>Professionals</h1>

  <table class="table-auto w-full bg-white text-black">
    <thead class="bg-gray-200 text-black">
      <tr>
        <th class="px-4 py-2">First Name</th>
        <th class="px-4 py-2">Last Name</th>
        <th class="px-4 py-2">Email</th>
        <th class="px-4 py-2">Phone Number</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @professionals.each do |professional| %>
        <tr class="bg-white text-black">
          <td class="border px-4 py-2"><%= professional.first_name %></td>
          <td class="border px-4 py-2"><%= professional.last_name %></td>
          <td class="border px-4 py-2"><%= professional.email %></td>
          <td class="border px-4 py-2"><%= professional.phone_number %></td>
          <td class="border px-4 py-2">
            <%= link_to 'Show', professional, class: "text-blue-500 hover:text-blue-700" %>
            <%= link_to 'Edit', edit_professional_path(professional), class: "text-yellow-500 hover:text-yellow-700" %>
            <%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:text-red-700" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Professional', new_professional_path, class: "text-green-500 hover:text-green-700" %>
</div>