<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @professional.first_name %>
  <strong>Last name:</strong>
  <%= @professional.last_name %>
  <strong>Email:</strong>
  <%= @professional.email %>
  <strong>DOB:</strong>
  <%= @professional.DOB %>
  <strong>Phone number:</strong>
  <%= @professional.phone_number %>
  <strong>Profile image url:</strong>
  <%= @professional.profile_image_url %>
  <strong>Is professional:</strong>
  <%= @professional.isProfessional %>

</p>
<%= link_to 'Edit', edit_user_path(@professional) %> |
<%= link_to 'Back', users_path %>
