<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'users', media: 'all', data: { turbolinks: false } %>

<% if notice.present? %>
  <div class="flex flex-col items-center justify-center rounded-lg p-10 m-10 w-80/100 mx-auto bg-[var(--accent-color)]">
    <h1 id="notice"><%= notice %></p>
  </div>
<% end %>

<div class="flex flex-col items-center justify-center">
  <h1 class="text-2xl m-auto font-bold p-4">Are you sure you want to destroy this user?</h1>
</div>

<div class="flex flex-col items-center justify-center">
  <div class="w-60/100 bg-[var(--surface-color)] rounded-md">
    <table class="m-auto">
      <tr>
        <td>First Name</td>
        <td>
          <%= @user.first_name %>
        </td>
      </tr>

      <tr>
        <td>Last Name</td>
        <td>
          <%= @user.last_name %>
        </td>
      </tr>

      <tr>
        <td>Email</td>
        <td>
          <%= @user.email %>
        </td>
      </tr>

      <tr>
        <td>Date of Birth</td>
        <td>
          <%= @user.DOB %>
        </td>
      </tr>

      <tr>
        <td>Phone Number</td>
        <td>
          <%= @user.phone_number %>
        </td>
      </tr>

      <tr>
        <td>Profile Image URL</td>
        <td>
          <%= @user.profile_image_url %>
        </td>
      </tr>

      <tr>
        <td>Professional</td>
        <td>
          <%= @user.isProfessional %>
        </td>
      </tr>
    </table>

  </div>
</div>

<div class="flex flex-col items-center justify-center">
  <%= button_to 'Destroy user', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "red-button p-4 m-4 rounded-md bg-[var(--surface-color)]" %></td>

  <div class="flex flex-row items-center justify-center">
    <%= link_to 'Edit', edit_user_path(@user), class: "blue-button p-4 m-4 rounded-md bg-[var(--surface-color)]" %>
    <%= link_to 'Back', users_path, class: "blue-button p-4 m-4 rounded-md bg-[var(--surface-color)]" %>
  </div>
</div>


