<%= stylesheet_link_tag 'users', media: 'all', data: { turbolinks: false } %>

<img src="/images/background02.jpeg" alt="Physicians and Mentors Home Image" class="fixed absolute w-screen h-screen object-cover brightness-20 z-[-1] pointer-events-none bg-[#201c21]" />

<div class="text-white">

  <h1>All Users</h1>
  <p>Find me in app/views/users/index.html.erb</p>

  <% if notice.present? %>
  <div class="flex items-center justify-center rounded-lg p-10 m-10 w-80/100 mx-auto bg-[#D878CB]">
    <h1 id="notice"><%= notice %></p>
  </div>
  <% end %>

  <div class="flex flex-row justify-between m-4 w-80/100 mx-auto">
    <div class="flex flex-col">
      <p class="mb-2">Search for users by first name:</p>
      <div>
        <form action="/users" method="GET">
          <input type="text" name="search_name" class="p-2 rounded-sm bg-[#544a57]">
          <input type="submit" value="Search" class="p-2 rounded-sm bg-[#736493] blue-button">
          <%= link_to 'Reset', users_path, class: "p-2 rounded-sm bg-[#966179] red-button" %>
        </form>
      </div>
    </div>

    <%= link_to 'New User', new_user_path, class: "flex items-center justify-center blue-button p-2 w-10/100 rounded-md bg-[#544a57]" %>
  </div>

<form action="/users" method="GET">
  <label for="filter">Filter Options</label>
  <select id="filter" name="filter" onchange="this.form.submit()">
    <option value="">Pick a Filter Option</option>
    <option value="isProfessional" <%= "selected" if session[:filter] == "isProfessional" %>>Filter by Professional</option>
  </select>

  <% if session[:filter] == "isProfessional" %>
    <select name="filter_option" onchange="this.form.submit()">
      <option value="">Pick professional</option>
      <option value="True" <%= "selected" if session[:filter_option] == "True" %>>Professional</option>
      <option value="False" <%= "selected" if session[:filter_option] == "False" %>>Not professional</option>
    </select>
  <% end %>
</form>

<%= link_to "Clear Filter Options", clear_path %>

  <div class="flex flex-col items-center justify-center">
    <div class="w-80/100 bg-[#544a57] rounded-md">
      <table id="users-table" class="w-full">
        <thead>
          <tr>
            <th onclick="sortTable(0)" class="w-5/100"></th>
            <th onclick="sortTable(0)" class="sortable-header w-20/100">First name</th>
            <th onclick="sortTable(1)" class="sortable-header w-20/100">Last name</th>
            <th onclick="sortTable(2)" class="sortable-header">Email</th>
            <th onclick="sortTable(3)" class="sortable-header">Birthday</th>
            <th onclick="sortTable(4)" class="sortable-header">Phone</th>
            <th onclick="sortTable(5)" class="sortable-header">Professional</th>

            <th colspan="3">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr class="users-table-rows">
              <td class="profile-td"><%= image_tag(user.profile_image_url, alt: "Profile image", class: "w-full h-full object-cover aspect-square rounded-md") %></td>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.DOB %></td>
              <td><%= user.phone_number %></td>
              <td><%= user.isProfessional %></td>
              <td><%= link_to 'Show', user, class: "blue-button p-2 rounded-md" %></td>
              <td><%= link_to 'Edit', edit_user_path(user), class: "blue-button p-2 rounded-md" %></td>
              <td><%= link_to 'Destroy', confirm_destroy_user_path(user), class: "red-button p-2 rounded-md " %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <%= link_to 'New User', new_user_path, class: "blue-button p-4 m-4 rounded-md bg-[#544a57]" %>
  </div>

  <br>  
</div>

<%# Sort table by clicking headers %>
<%# https://www.w3schools.com/howto/howto_js_sort_table.asp %>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("users-table");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>