
<div class="relative w-screen h-screen" style=";">
  <!-- Centered content -->
  <div class="relative flex items-center justify-center h-full flex-col">
    <h1 class="text-4xl md:text-6xl text-white font-bold mt-[32px]">
      Login
    </h1>
    <%= form_with url: login_path, method: :post do |f| %>
        <div class="text-white pt-8">
          <%= f.label :email %>
          <%= f.text_field :email, class: "border p-2 w-full my-2" %>
        </div>
      
        <div class="text-white">
          <%= f.label :password %>
          <%= f.password_field :password, class: "border p-2 w-full my-2" %>
        </div>
      
        <div>
          <%= f.submit "Submit", class: "bg-transparent border-white border text-white px-4 py-2 ml-64 rounded mt-4" %>
        </div>
        <div class="flex justify-center">
            <p class="text-sm text-white font-bold mt-4">
                or
            </p>
        </div>
    <% end %>
    <div class="flex justify-center text-white">
    <%= button_to "Log in with Google", '/auth/google_oauth2', method: :post, data: { turbo: "false" }, class: "hover:text-gray-300 text-lg bg-transparent text-white-900 font-semibold hover:text-white mt-8 p-4 text-3xl border border-white rounded" %>
    </div>

    <div class="flex justify-center text-white mt-4">
      <p>Don't have an account?</p>
      <%= link_to "Sign Up", signup_path, class: "text-blue-400 underline ml-2" %>
    </div>

    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>"><%= message %></div>
    <% end %>

  </div>
</div>
